/*! RádioBlon - by Henrique Arthur <eu@henriquearthur.me> */
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a, a:link, a:hover, a:active, a:visited {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit
}

b, strong {
    font-weight: 600
}

.align {
    margin: 0 auto;
    width: 900px
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.txt-left {
    text-align: left
}

.txt-justify {
    text-align: justify
}

br {
    clear: both
}

.dialog-hide {
    display: none
}

.ui-button, .ui-dialog-title {
    font-family: Open Sans !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    outline: none
}

.ui-dialog-content {
    font-family: Open Sans !important;
    font-weight: 400 !important;
    font-size: 14px !important
}

body {
    background: #ECF0F1;
    font-family: "Open Sans", sans-serif;
    font-weight: 400
}

header.top {
    background: #FFF;
    width: 100%;
    height: 135px;
}

header.top #logo {
    background: url(../images/logo.png);
    float: left;
    margin-top: 30px;
    width: 193px;
    height: 72px;
}

header.top #user-options {
    border-right: 1px solid #ECF0F1;
    float: right;
    padding-right: 25px;
    margin: 50.5px 20px 0 0
}

header.top #user-options .opt {
    font-size: 18px;
    color: #ECF0F1;
    display: inline-block;
    margin-left: 15px
}

header.top #user-options .opt:hover {
    color: #c0cdd1
}

header.top #user {
    float: right;
    margin-top: 42.5px
}

header.top #user .avatar {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    float: left;
    width: 40px;
    height: 40px
}

header.top #user .infos {
    float: left;
    margin: 8px 0 0 10px;
    font-size: 15px;
    color: #3498db
}

nav.menu {
    background: #3498db;
    width: 100%;
    height: 60px
}

nav.menu #menus li {
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    padding: 17px 15px;
    height: 60px
}

nav.menu #menus li:hover {
    background: #258cd1
}

nav.menu .sub {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #FFF;
    position: absolute;
    overflow: hidden;
    display: none;
    width: 200px;
    z-index: 90
}

nav.menu #sub-menus li {
    list-style-type: none;
    outline: none;
    font-size: 13px;
    color: #869198;
    padding: 8px;
    width: 100%;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease
}

nav.menu #sub-menus li:hover {
    background: #3498db;
    color: #196090;
    padding-left: 15px;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease
}

section.content {
    margin-top: 30px;
    width: 100%
}

section.content .breadcumb {
    border-radius: 4px;
    background: #e6ebed;
    font-size: 14px;
    font-weight: 400;
    color: #869198;
    padding: 10px;
    margin-bottom: 15px
}

section.content .breadcumb .item {
    display: inline-block
}

section.content .breadcumb .sep {
    font-size: 16px;
    margin: 0 10px;
    display: inline-block
}

section.content .breadcumb a:hover {
    color: #3498db
}

section.content .box-content {
    border-radius: 4px;
    box-shadow: 0 1px 2px #aaa;
    background: #FFF;
    font-size: 12px;
    font-weight: 400;
    color: #869198;
    margin-bottom: 15px;
    padding: 20px;
    float: left;
    width: 100%
}

section.content .box-content img {
    max-width: 100%
}

section.content .box-content .title-section {
    border-bottom: 1px solid #EEE;
    font-size: 24px;
    font-weight: 300;
    color: #3498db;
    padding-bottom: 10px;
    margin-bottom: 10px
}

section.content .box-content .ui-effects-wrapper {
    overflow: visible !important
}

section.content .box-content .search {
    background: #ECF0F1;
    display: none;
    margin: 10px -20px 25px -20px;
    width: 900px
}

section.content .box-content .search .form-group {
    border: none;
    background: rgba(255, 255, 255, 0.4);
    float: left;
    margin: 0;
    padding: 0
}

section.content .box-content .search .form-group.submit {
    background: none
}

section.content .box-content .search .form-group.submit .btn {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    width: 150px;
    height: 39px
}

section.content .box-content .search .form-group.submit .btn:hover {
    background: #639
}

section.content .box-content .search .form-group .form-label {
    font-size: 20px;
    padding-top: 6px;
    width: 40px;
    height: 39px;
    text-align: center
}

section.content .box-content .search .form-group .form-input {
    border-radius: 0;
    border: none;
    background: transparent;
    padding: 10px;
    width: 710px;
    height: 39px
}

section.content .box-content .search .form-group .form-input::-webkit-input-placeholder {
    color: #869198
}

section.content .box-content .search .form-group .form-input:-moz-placeholder {
    color: #869198
}

section.content .box-content .search .form-group .form-input::-moz-placeholder {
    color: #869198
}

section.content .box-content .search .form-group .form-input:-ms-input-placeholder {
    color: #869198
}

section.content .box-content .searching {
    background: #ECF0F1;
    padding: 10px 20px;
    margin: 10px -20px 10px -20px;
    width: 900px
}

section.content .well {
    border-radius: 4px;
    background: #F5F5F5;
    margin-bottom: 10px;
    padding: 10px;
    word-wrap: break-word
}

footer.copyright {
    font-size: 11px;
    font-weight: 300;
    color: #869198;
    margin: 50px auto;
    width: 900px;
    text-align: right
}

footer.copyright a:hover {
    color: #1BBC9B
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    height: 1px
}

.btn {
    border-radius: 2px;
    border: 1px solid #000;
    background: #FFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #000;
    outline: none;
    padding: 8px 16px;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease
}

.btn:hover {
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease
}

.btn:disabled {
    border-color: #869198 !important;
    background: #869198 !important;
    color: #FFF !important
}

.btn.btn-default {
    border-color: #869198;
    color: #869198
}

.btn.btn-default:hover {
    background: #869198;
    color: #FFF
}

.btn.btn-primary {
    border-color: #3498db;
    color: #3498db
}

.btn.btn-primary:hover {
    background: #3498db;
    color: #FFF
}

.btn.btn-success {
    border-color: #1BBC9B;
    color: #1BBC9B
}

.btn.btn-success:hover {
    background: #1BBC9B;
    color: #FFF
}

.btn.btn-info {
    border-color: #639;
    color: #639
}

.btn.btn-info:hover {
    background: #639;
    color: #FFF
}

.btn.btn-warning {
    border-color: #F39C12;
    color: #F39C12
}

.btn.btn-warning:hover {
    background: #F39C12;
    color: #FFF
}

.btn.btn-danger {
    border-color: #e74c3c;
    color: #e74c3c
}

.btn.btn-danger:hover {
    background: #e74c3c;
    color: #FFF
}

.btn.btn-xsm {
    font-size: 10px;
    padding: 4px 8px;
    margin: 1px
}

#cke_conteudo, #cke_alerta {
    float: none;
    clear: both
}

.form-horizontal {
    width: 860px
}

.form-horizontal .form-group {
    border: none;
    float: left;
    margin-right: 20px;
    width: 410px
}

.form-horizontal .form-group:nth-child(odd) {
    margin-right: 0;
    width: 430px
}

.form-horizontal .form-group .form-label {
    padding-top: 0;
    width: 100%
}

.form-horizontal .form-group .form-input {
    float: none;
    margin-top: 10px;
    width: 100%
}

.form-horizontal .form-group .form-info {
    padding-left: 0
}

.form-horizontal .form-group .form-input[type="checkbox"] {
    float: left;
    margin-top: 19px;
    width: 10%
}

.form-horizontal .form-group.w-sm .form-input {
    width: 30%
}

.form-horizontal .form-group.w-sm .form-label {
    float: left
}

.form-horizontal .form-group.ckeditor .form-label {
    margin-bottom: 0
}

.form-horizontal .form-group.ckeditor #cke_conteudo {
    margin-top: 10px
}

.form-horizontal .form-group.upload .form-label {
    float: none
}

.form-horizontal .form-group.upload .form-upload {
    margin-top: 10px
}

.form-horizontal .form-group .form-upload {
    float: none;
    width: 100%
}

.form-horizontal .form-group .form-upload .ui-tabs-anchor {
    font-size: 10px;
    font-weight: 600;
    outline: none
}

.form-horizontal .form-group .form-upload select.form-input {
    width: 100%
}

.form-horizontal .form-group .form-upload .upl-gallery-img {
    float: none;
    margin-top: 2%;
    max-width: 100%
}

.form-horizontal .form-group .form-upload .upl-current-img {
    float: none;
    margin-top: 2%;
    max-width: 100%
}

.form-horizontal .form-group .form-upload .img-infos {
    float: none;
    margin-top: 10px;
    width: 100%;
    text-align: left
}

.form-horizontal .form-group .form-upload .img-infos b {
    font-size: 12px
}

.form-group {
    border-bottom: 1px dashed #eee;
    font-size: 0;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.form-group.submit {
    border-bottom: none;
    padding-bottom: 0
}

.form-group.no-label .form-label {
    display: none
}

.form-group.no-label .form-input {
    width: 100%
}

.form-group.no-border {
    border-bottom: none
}

.form-group.ckeditor .form-label {
    margin-bottom: 10px
}

.form-group.check-side {
    float: left;
    margin-right: 2%;
    width: 48%
}

.form-group.check-side .form-label {
    padding-top: 14px;
    width: 80%
}

.form-group.check-side .form-input {
    float: right;
    margin-top: 10px
}

.form-group.select-side {
    float: left;
    margin-right: 2%;
    width: 48%
}

.form-group.console {
    width: 100% !important
}

.form-group.console .form-input {
    border-radius: 0;
    border: 1px dotted #869198;
    font-family: 'Source Code Pro';
    width: 100%;
    height: 300px
}

.form-group.marked {
    border-bottom: none;
    margin: 0;
    padding: 0;
    width: 30%
}

.form-group.marked .form-input {
    float: none;
    width: 100%
}

.form-group.w-sm .form-input {
    width: 10%
}

.form-group.w-md .form-input {
    width: 30%
}

.form-group.s-xlg .form-input {
    font-size: 24px;
    padding: 12px 18px
}

.form-group.s-lg .form-input {
    font-size: 16px;
    padding: 12px 18px
}

.form-group .form-label {
    font-size: 14px;
    font-weight: 600;
    float: left;
    padding-top: 9px;
    width: 20%
}

.form-group .form-input {
    border-radius: 2px;
    border: 1px solid #E1E1E1;
    background: #FFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #869198;
    padding: 8px 15px;
    float: left;
    outline: none;
    resize: none;
    width: 80%;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease
}

.form-group .form-input.s-lg {
    font-size: 18px;
    padding: 12px 18px
}

.form-group .form-input:focus {
    border-color: #3498db;
    background: #fcfcfc;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease
}

.form-group .form-input:disabled {
    background: #eee
}

.form-group .form-input::-webkit-input-placeholder {
    color: #BBB
}

.form-group .form-input:-moz-placeholder {
    color: #BBB
}

.form-group .form-input::-moz-placeholder {
    color: #BBB
}

.form-group .form-input:-ms-input-placeholder {
    color: #BBB
}

.form-group .form-input option {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #869198
}

.form-group .form-input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border-radius: 26px;
    box-shadow: inset 0 0 0 1px lightgrey;
    cursor: pointer;
    height: 28px;
    position: relative;
    outline: none;
    transition: border .25s .15s, box-shadow .25s .3s, padding .25s;
    width: 44px;
    vertical-align: top
}

.form-group .form-input[type="checkbox"]:after {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 24px;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    right: 16px;
    outline: none;
    top: 1px;
    transition: border .25s .15s, left .25s .1s, right .15s .175s
}

.form-group .form-input[type="checkbox"]:checked {
    border-color: #53d76a;
    box-shadow: inset 0 0 0 13px #53d76a;
    padding-left: 18px;
    outline: none;
    transition: border .25s, box-shadow .25s, padding .25s .15s
}

.form-group .form-input[type="checkbox"]:checked:after {
    border-color: #53d76a;
    left: 16px;
    outline: none;
    right: 0;
    transition: border .25s, left .15s .25s, right .25s .175s
}

.form-group .form-upload {
    float: left;
    font-size: 12px;
    width: 80%
}

.form-group .form-upload .ui-tabs-anchor {
    font-weight: 600;
    outline: none
}

.form-group .form-upload li {
    outline: none
}

.form-group .form-upload select.form-input {
    width: 35%
}

.form-group .form-upload .upl-gallery-img {
    float: right;
    display: none;
    margin-left: 1%;
    max-width: 64%;
    max-height: 250px
}

.form-group .form-upload .upl-current-img {
    float: left;
    margin-right: 1%;
    max-width: 64%;
    max-height: 250px
}

.form-group .form-upload .upl-file-img, .form-group .form-upload .upl-url-img {
    margin-top: 1%;
    max-width: 100%;
    max-height: 250px
}

.form-group .form-upload .img-infos {
    float: right;
    font-size: 12px;
    width: 35%;
    text-align: right;
    word-wrap: break-word
}

.form-group .form-upload .img-infos b {
    font-size: 14px
}

.form-group .form-info {
    font-weight: 400;
    font-size: 11px;
    margin-top: 5px;
    padding-left: 20%
}

.form-group .form-info img {
    margin-top: 5px;
    max-width: 100%
}

.form-group .form-info pre {
    display: inline
}

.form-title {
    border-bottom: 1px dotted #ddd;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    clear: both
}

.alert {
    border-radius: 4px;
    background: #869198;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center
}

.alert b {
    font-weight: 700
}

.alert.alert-blue {
    background: #3498db
}

.alert.alert-green {
    background: #1BBC9B
}

.alert.alert-yellow {
    background: #F39C12
}

.alert.alert-red {
    background: #e74c3c
}

.label {
    border-radius: 2px;
    background: #869198;
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    padding: 4px 8px;
    display: inline-block;
    margin: 3px
}

.label.label-default {
    background: #869198
}

.label.label-primary {
    background: #3498db
}

.label.label-success {
    background: #1BBC9B
}

.label.label-info {
    background: #639
}

.label.label-warning {
    background: #F39C12
}

.label.label-danger {
    background: #e74c3c
}

.label.m-top-o {
    margin: 5px 0 0 0
}

.table td.check, .table th.check {
    width: 35px
}

section.content #charts {
    margin-bottom: 20px
}

section.content .chart {
    position: relative;
    display: inline-block;
    margin: 15px 30px 0 0
}

section.content .chart .center {
    position: absolute;
    padding-top: 35px;
    line-height: 20px;
    width: 110px;
    height: 110px
}

section.content .chart .center b {
    font-size: 32px;
    font-weight: 400;
    color: #77939a
}

section.content .chart .center span {
    font-size: 14px;
    font-weight: 300;
    color: #869198
}

section.content .warnings {
    float: left;
    margin-right: 1%;
    width: 59%
}

section.content .notifications {
    float: left;
    width: 40%
}

section.content .box-warning #img {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    float: left;
    width: 46px;
    height: 50px
}

section.content .box-warning #infos {
    float: left;
    padding: 16px 10px;
    font-size: 18px;
    font-weight: 300;
    width: 425px;
    height: 50px
}

section.content .box-ntf {
    margin-bottom: 1px;
    width: 320px;
    min-height: 30px
}

section.content .box-ntf.info #icon {
    background: #639
}

section.content .box-ntf.success #icon {
    background: #1BBC9B
}

section.content .box-ntf.warning #icon {
    background: #F39C12
}

section.content .box-ntf.danger #icon {
    background: #e74c3c
}

section.content .box-ntf:hover #infos {
    background: #e6ebed
}

section.content .box-ntf #icon {
    float: left;
    font-size: 14px;
    color: #FFF;
    padding: 5px;
    width: 30px;
    min-height: 30px
}

section.content .box-ntf #infos {
    background: #ECF0F1;
    float: left;
    font-size: 12px;
    font-weight: 400;
    padding: 6px;
    width: 290px;
    min-height: 30px;
    word-wrap: break-word
}

section.content .box-ntf #infos .time {
    float: right;
    font-style: italic;
    font-weight: 300;
    color: #a2aaaf
}

section.content .chat-load {
    padding: 20px;
    font-weight: 300;
    font-size: 22px;
    width: 860px
}

section.content .chat {
    margin-bottom: 10px;
    width: 860px
}

section.content .chat #messages {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f7f7;
    padding: 10px;
    padding-bottom: 0;
    width: 860px;
    height: 400px
}

section.content .chat #messages .messages {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #FFF;
    width: 840px;
    height: 390px
}

section.content .chat #messages .messages .box {
    border-bottom: 1px solid #EEE;
    padding: 0 10px;
    overflow: hidden;
    width: 840px;
    min-height: 74px
}

section.content .chat #messages .messages .box.info {
    padding: 0;
    min-height: 0
}

section.content .chat #messages .messages .box.info #infos {
    border-left: none;
    background: #ECF0F1;
    float: none;
    margin-left: 0;
    width: 840px;
    min-height: 0
}

section.content .chat #messages .messages .box #img {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    float: left;
    width: 46px;
    height: 56px
}

section.content .chat #messages .messages .box #author {
    float: left;
    font-weight: 300;
    font-size: 18px;
    padding: 13px 0;
    margin-left: 10px;
    width: 150px;
    min-height: 74px
}

section.content .chat #messages .messages .box #author small {
    font-size: 11.5px
}

section.content .chat #messages .messages .box #infos {
    border-left: 1px dotted rgba(0, 0, 0, 0.03);
    float: left;
    padding: 10px;
    margin-left: 10px;
    width: 604px;
    min-height: 74px;
    word-wrap: break-word
}

section.content .chat #send {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ECF0F1;
    padding: 10px;
    width: 100%;
    height: 80px
}

section.content .chat #send .msg {
    float: left;
    width: 80%;
    height: 60px
}

section.content .chat #send .msg .form-input {
    font-size: 18px;
    width: 99%;
    height: 60px
}

section.content .chat #send .submit {
    float: right;
    width: 20%;
    height: 60px
}

section.content .chat #send .submit .btn {
    width: 100%;
    height: 60px
}

section.content .thumbnail {
    border-radius: 4px;
    box-shadow: 0 1px 2px #aaa;
    background: #FFF;
    font-size: 12px;
    color: #869198;
    margin: 0 10px 15px 0;
    padding: 10px;
    display: inline-block;
    width: 202px
}

section.content .thumbnail #img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 182px;
    height: 182px
}

section.content .thumbnail #infos {
    margin-top: 10px;
    text-align: center;
    width: 182px
}
